{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Snippat</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/n3.svg' %}" rel="icon">
  <link href="{% static 'img/n3.svg' %}" rel="apple-touch-icon">

  <!-- Fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">



  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: QuickStart
  * Template URL: https://bootstrapmade.com/quickstart-bootstrap-startup-website-template/
  * Updated: May 18 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
        <img src="{% static 'img/n3.svg' %}" alt="">
        <h1 class="sitename"></h1>
      </a>

      <nav id="navmenu" class="navmenu d-flex align-items-center me-auto">
        <ul>
          
          <li><a href="{% url 'market' %}" class="">Explore</a></li>
          <li><a href="{% url 'index' %}">Sell</a></li>
          <li><a href="{% url 'About' %}">About</a></li>
          <li><a href="{% url 'About' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{% url 'login' %}">Log in</a>

    </div>
  </header>


  <main class="main">

    <section id="net" class = "section">
      <div class = "container">
      <div class="about-section">
        <h2 class="about-title">About, snippat.com<br> <span>CONNECTING 1 MILLION DEVELOPERS BY 2030</span> </h2>
        <p class="about-text">
          As a developers, After scrapping a dozens of side project,
          we asked: “What if someone else could use this?” But when we searched for a place to share or sell small, reusable work - like a Stripe payment snippet or a React dashboard template - there was nothing simple, fair, or open. 
          So we built snippat.com a marketplace where creators monetize exactly what they already make and buyers save weeks of redundant work.
        </p>
        <p class="about-text">
          Here’s how snippat.com helps:
        </p>
        <ul class = "pointer">
          <li>Creators turn forgotten code into cash. Sell a 50-line authentication script, a Figma UI kit or an AI chatbot blueprint. </li>
          <li>Buyers skip reinventing the wheel. Buy a vetted template for 1/10th the cost of hiring a freelancer. Customize it freely - no lock-in.</li>
        </ul>
        <p class="about-text">
          Just code solving real problems. Built by developers, for developers. Always will be.
        </p>


        <div class="team-section">
          <h2 class = "TeamTi">Team</h2>
          <p class="team-note">
            Young and fast moving with a high pace of execution. Join us in making micro-work the future of innovation.
          </p>
          <div class = "team-note">
            <button onclick="window.location.href='#net_con';">+ Join our Team</button>
          </div>

          <div class="team-members">
            <div class="member">
              <img src="{% static 'img/a1.svg' %}" alt="Co-founder">
              <p class = "name">Vimal</p>
              <p class = "rolis">Co-founder</p>
              <a href="https://www.linkedin.com/in/vimalsreal/">Connect</a>
            </div>
            <div class="member">
              <img src="{% static 'img/a2.svg' %}" alt="Co-founder' %}">
              <p class = "name">Kiran</p>
              <p class = "rolis">Co-founder</p>
              <a href="https://www.linkedin.com/in/vivekjaglan/">Connect</a>
            </div>
            <div class="member">
              <img src="{% static 'img/a3.svg' %}" alt="Co-founder">
              <p class = "name">Vivek</p>
              <p class = "rolis">Co-founder</p>
              <a href="https://www.linkedin.com/in/kiran-kumar-643b3625a/">Connect</a>
            </div>
          </div>
        </div>
        



        <div id = "net_con"  class="container11">
          <h1>Contact</h1>
          <p> Questions, feedbacks or want to join our team? Let us know.</p>
          <form action="https://formsubmit.co/support@snippat.com" method="post"  class="contact-form11">
            <input type="text" placeholder="Your Name">
            <input type="email" placeholder="Email">
            <input type="tel" placeholder="Phone Number">
            <input type="text" placeholder="Subject">
            <textarea placeholder="Send us a message"></textarea>
            <button type="submit">Send</button>
          </form>
        </div>


      </div>

    </div>

    </section>

  </main>

  
  <footer id="footer" class="footer position-relative">

    <div class="container footer-top">
      <div class="row gy-3">

 
        <div class="col-lg-4 col-md-6   footer-newsletter">
          <h4>Subscribe to the exciting* <br>newsletter out there.</h4>
          <form action="https://formsubmit.co/kirankumarr1901@gmail.com" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
          <p>support@snippat.com</p>
          <p>RMZ MILLENIA BUSINESS PARK,<br>
            Perungudi, Chennai, 600096</p>
         
      </div>



        

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Legal</h4>
          <ul>
            <li><a href="{% url 'terms' %}">Terms of service</a></li>
            <li><a href="{% url 'privacy' %}">Privacy policy</a></li>
            <li><a href="{% url 'cookie' %}">Cookies</a></li>
            <li><a href="{% url 'norefund' %}">Refund policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Snippat</h4>
          <ul>
            <li><a href="{% url 'About' %}">About</a></li>
            <li><a href="{% url 'About' %}">Contact</a></li>
            <li><a href="{% url 'market' %}">Marketplace</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Connect</h4>
          <ul>
            <li><a href="https://x.com/SnippatHq">Twitter</a></li>
            <li><a href="#">Discord</a></li>
            <li><a href="https://www.linkedin.com/company/Snippat/">Linkedln</a></li>
          </ul>
        </div>
        

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p class="px-1 sitename">© Snippat 2025<span>All Rights Reserved</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  
 

</body>

</html>